@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
* {
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color : #6096B4;
    --secondary-color : #93BFCF;
    --text-color : #EEE9DA;
    --main-color : #d5e2ea;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header */
.header {
    position: fixed; /*dia akan tetap diatas jika di scroll*/
   display: flex; 
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 2rem 9%;
   background-color: var(--bg-color);
   z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-weight: 600;
    cursor: default;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--secondary-color);
    display: none;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--secondary-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover, .navbar a:active {
    color: var(--main-color);
}
/* end header */

/* Home */
.home {
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertikal*/
}

.home-image img {
    width: 34vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 25px;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content {
    font-size: 1.6rem;
}

.social-media .button-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    overflow: hidden;
    background: var(--main-color);
    border: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    margin-top: 2rem;
    margin-bottom: -7rem;
}

.social-media .button-social:hover {
    width: 170px;
    color: #fff;
}

.social-media .button-social .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 50px;
    color: var(--bg-color);
}

.social-media .button-social:nth-child(1):hover {
    background-color: #c0007a ;
}
.social-media .button-social:nth-child(2):hover {
    background-color: #000000 ;
}
.social-media .button-social:nth-child(3):hover {
    background-color: #0077b5 ;
}
.social-media .button-social:nth-child(4):hover {
    background-color: #ff0000 ;
}

.social-media .button-social:nth-child(1):hover .icon {
    background: #c0007a;
}
.social-media .button-social:nth-child(2):hover .icon {
    background: #000000;
}
.social-media .button-social:nth-child(3):hover .icon {
    background: #0077b5;
}
.social-media .button-social:nth-child(4):hover .icon {
    background: #ff0000;
}

.social-media .button-social .icon i {
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.social-media .button-social:hover .icon i {
    color: #fff;
    box-sizing: border-box;
}

.social-media .button-social span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    color: var(--secondary-color);
}

.social-media .button-social span:hover {
    color: #fff;
}

.CV {
    margin-top: 11rem;
}
.btn {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 1rem 2.8rem; /*vertial horizontal*/
    border-radius: 20px 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 0 1rem var(--main-color);
    border: none;
}

.btn:hover {
    box-shadow: none;
    transition: .5s ease;
}

/* End Home */

/* About */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--secondary-color);
}

.about-img img {
    width: 24px;
    margin-bottom: 3rem;
}

.heading {
    /* text-align: center; */
    font-size: 4.5rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.read-btn {
    padding: 1rem 2.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba ( 0, 0, 0, 0.1);
    box-shadow: 0 0 1rem var(--text-color);
    --webkit-transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transition: 0.6s ease;
}

.read-btn:hover {
    background-color: var(--secondary-color);
    -webkit-shadow-box : 0px 15px 20px;
    color: var(--text-color);
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    transition: 0.6s ease;
}

.read-btn:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}
/* End About */

/* Services */
.services h2 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*kalo ga cukup, bakal ke barisan yang baru*/
    gap: 5rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background-color: var(--secondary-color);
    padding: 3rem 2rem 4rem; /*atas, kanan kiri, bawah*/
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    margin-bottom: 3rem;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.15);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services-box a {
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    border: 2px solid var(--bg-color);
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
    font-size: 18px;
}


.services-box a:before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: var(--secondary-color);
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
    box-shadow: var(--bg-color);
}

.services-box a:hover:before {
    transform: scaleY(0);
}

.services-box a::after{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: var(--secondary-color);
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

.services-box a:hover::after {
    transform: scaleX(0);
}

.services-box a span {
    position: relative;
    z-index: 3;
}

/* Percentages */

.percentages {
    background-color: var(--secondary-color);
}
.title-skill {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 0rem;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
}

.skills {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    background: var(--main-color);
    width: 600px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 4rem;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 50%;   
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    float: right;
    margin-top: -15px;
    margin-bottom: -20px;
    color: var(--bg-color);
    /* border-color: var(--bg-color); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.html {
    background: var(--text-color);
    animation: html 30s linear forwards;
}

.css {
    background: var(--main-color);
    animation: css 30s linear forwards;
}

.javascript {
    background: var(--text-color);
    animation: javascript 30s linear forwards;
}

.scss {
    background: var(--main-color);
    animation: scss 30s linear forwards;
}

.figma {
    background: var(--text-color);
    animation: figma 30s linear forwards;
}

.html span {
    border: 1px solid var(--text-color);
    border-width: 2px;
}

.css span {
    border: 1px solid var(--main-color);
    border-width: 2px;

}

.javascript span {
    border: 1px solid var(--text-color);
    border-width: 2px;

}

.scss span {
    border: 1px solid var(--main-color);
    border-width: 2px;
}

.figma span {
    border: 1px solid var(--text-color);
    border-width: 2px;
}

@keyframes html {
    100% {
        width: 85%;
    }
}

@keyframes css {
    100% {
        width: 90%;
    }
}

@keyframes javascript {
    100% {
        width: 64%;
    }
}

@keyframes scss {
    100% {
        width: 78%;
    }
}

@keyframes figma {
    100% {
        width: 94%;
    }
}

/* Portfolio */
.portfolio {
    background-color: var(--bg-color);
}

.portfolio h2 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
    margin-bottom: 4rem;
}

.row img {
height: auto;
width: 100%;
border-radius: 28px;
margin-bottom: 1.4rem;
}

.row {
    background: var(--secondary-color);
    border-radius: 28px;
    border: 1px solid transparent;
    border-color: var(--text-color);
    box-shadow: 0 0 10px var(--bg-color);
    padding: 20px;
    transition: all .50s ease;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.row h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    text-shadow: var(--bg-color);
}

.row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 17px;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: 1s;
}

.row i:hover {
    background: transparent;
    border: 1px solid var(--bg-color);
    transition: .8s;
    color: white;
}
.row h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}

/* End Portfolio */

/* Contact */
.contact {
    background-color: var(--secondary-color);
}
.contact h2 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 4rem;
}

.contact form {
    max-width: 70rem;
    text-align: center;
    margin: 1rem auto; /*1rem margin secara vertikal auto margin horizontal*/
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    border: none;
    color: var(--bg-color);
    background-color: var(--main-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.button-bubbly {
    margin-top: 1.5rem;
}

.bubbly {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 1rem 2.8rem; /*vertial horizontal*/
    border-radius: 64px 48px 38px 96px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 0 1rem var(--main-color);
    border: none;
    transition: 0.5s ease-in-out;
}

.bubbly:hover {
    box-shadow: 0 0 1rem var(--bg-color);
    transition: .5s ease;
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--text-color);
    transition: 0.7s ease-in-out;
}




/* .bubbly {
    background: none;
    color: var(--text-color);
    padding: 1rem 2.8rem; 
    border: 2px solid var(--main-color);
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: 0.4s linear;
    box-shadow: 0 0 1rem var(--main-color);
    position: relative;
}

 .bubbly:hover {
    color: #fff;
    background-color: var(--secondary-color);
    transition: 0.7s ease;
} */

/* .bubbly::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
   --transform-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bubbly::before {
    transform: scaleX(0);
}

.bubbly:hover::before {
    transform: translateX(1);
}  */

/* .send-btn {
    background-color: var(--bg-color);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
    position: relative;
    overflow: hidden;
    outline: none;
}

.send-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s ease;
}

.send-btn:hover {
    background-color: var(--main-color);
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.send-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.send-btn:active {
    transform: scale(0.98); */

/* .bubbly {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2.em;
    margin-top: 5rem;
    color: white;
    border-radius: 5px;
    border: 3px solid var(--bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease all;
    box-shadow: 0 2px 25px var(--main-color);
}

.bubbly::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--secondary-color);
    z-index: -1;
}

.bubbly:hover, .bubbly:focus {
    color: white;
}

.bubbly:hover::before, .bubbly:focus::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.bubbly:active {
    transform: scale(0.9);
} 

 .bubbly::before,
.bubbly::after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly::before,
.bubbly::after {
    display: none;
    background-image: 
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20% transparent 30%),
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--secondary-color) 10%, transparent 15% transparen 20%),
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--secondary-color) 20%, transparent 20%),;
        background-size: 10%, 10%, 20%, 20%, 15%, 15%, 20%, 20%, 18%, 18%, 10%, 10%, 15%, 15%, 10%, 10%, 18%, 18%;

}

.bubbly::before {
    top: -75%;
}

.bubbly::after {
    top: -75%;
}

.bubbly:active {
    transform: scale(0.9);
    background-color: var(--secondary-color);
    box-shadow: 0 2px 25px var(--bg-color);
}

.bubbly.animate::before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly.animate::after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position:
        5% 90%,
        10% 90%,
        10% 90%,
        15% 90%,
        25% 90%,
        25% 90%,
        40% 90%,
        55% 90%,
        70% 90%,;    
    }
    50% {
        background-position:
        0% 20%,
        0% 80%,
        10% 40%,
        20% 0 %,
        30% 30%,
        22% 50%,
        50% 50%,
        65% 20%,
        90% 30%;
    }
    100% {
        background-position:
        0% 70%,
        0% 10%,
        10% 30%,
        20% -10%,
        30% 20%,
        22% 40%,
        50% 40%,
        65% 10%,
        90% 20%;
        background-size:
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position:
        10% 10%,
        30% 10%,
        55% 10%,
        70% 10%,
        85% 10%,
        70% 10%,
        70% 0%;    
    }
    50% {
        background-position:
        0% 80%,
        20% 80%,
        45% 60%,
        60% 100%,
        75% 70%,
        95% 60%,
        105% 0%;    
    }
    100% {
        background-position:
        0% 90%,
        20% 90%,
        45% 70%,
        60% 110%,
        75% 80%,
        90% 70%,
        110% 10%;  
        background-size:
        0% 0%,  
        0% 0%, 
        0% 0%, 
        0% 0%, 
        0% 0%, 
        0% 0%; 
    }
} */



/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%; /*atas bawah kanan kiri disamain sama yg di section nya*/
    background-color: var(--bg-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: .8rem;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow:  0 0 1rem var(--main-color);
}

.footer-iconTop i {
    font-size: 2.4rem;
    color: var(--secondary-color);
}
/* End Footer */

/* BREAKPOINTS */
/* 
ukuran yang akan dipakai
1200px
991px
768px
617px
450px
356px 
*/

@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}
@media(max-width: 991px) {
    .header {
        padding: 2rem 3%; /*vertikal horizontal*/
    }
    .section {
        padding: 10rem 3% 2rem; /*atas kanan kiri bawah*/
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .services {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media(max-width: 768px) {
    #menu-icon {
        display: block; /*lawannya dari display none*/
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 1rem 3%;
        font-size: 2rem;
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none; /*biar ga keliatan*/
        
    }

    .navbar.active {
        display: block;

    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home h3 {
        font-size: 2.6rem;
    }

    .home h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        width: 45vw;
        margin-top: 1rem;
    }

    .about-content {
        padding-bottom: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .skills h2 {
        font-size: 18px;
    }
/* 
    .progress-bar {
        width: 100%;
    } */


    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 617px) {
    .home-image img {
        width: 70vw;
        margin-top: 4rem;
    }
    .portfolio-container {
        grid-template-columns: 1fr;
    }
    .progress-bar {
        width: 75%; 
        margin: 0 auto 20px auto; 
        margin-bottom: 3rem;
    }
    .container{
        margin-top: 15px;
    }
    .title-skill{
        margin-bottom: 6rem;
    }
    .progress-bar div {
        height: 15px; 
        line-height: 50px;
        font-size: 12px; 
    }
    .skills {
        width: 65%;
        height: auto;
        overflow-x: hidden;
        margin-bottom: 3rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home-image img {
        width: 70vw;
        margin-top: 4rem;
    }
    .title-skill h2 {
        font-size: 30px;
    }
    .container{
        margin-top: 1.5em;
    }
    .progress-bar {
       margin-top: 1.5rem;
    }
    .skills {
        width: 95%;
        height: auto;
        overflow-x: hidden;
        margin-bottom: 7rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media(max-width: 356px) {
    .home-image img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about-img img {
        width: 45vw;
    }
    
    .footer {
        flex-direction: column;
    }

    .footer p {
        margin-bottom: 2rem;
    }
}